<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body>
<section class="container  mt-2 mb-2">
    <div class="row d-flex  ">
        <article class="col-sm-9 padder">
            <div class="whitepart pagetop bg-light" style=" padding: 15px;
            border: 1px solid #DDDFE1;  
            border-top: 3px solid #2753ad;">
                <h3><strong>Company Profile</strong></h3>
                <p>
                    One visit to the exotic country of Nepal is never enough. “Namaste” a greeting so warm keeps calling you back. Venture into the wild at Royal Chitwan National Park, water raft and canoe on the numerous fine rivers and climb the many mountains to have an experience of a lifetime or simply enjoy the land of legends with its natural beauties and traditions
                </p>
                <p>
                    Discover Himalayan Treks with her group of friendly exploration experts will help you reach remote cultures, environments, wildlife and experiences beyond your dreams. We strive to provide you with quality food, services, and equipment consistent with our exploration goals and responsibility for the environment. <br>
                    We know there will be some uncertainty, some risks and some events that just can’t be planned but we are your partners in finding the places, people and nature to tease your sense of adventure and intellectual curiosity. Choose one or more of our trips in this information pack and let’s work out your needs. You shall be assured of our quality and personalized service at Discover Himalayan Treks (P) Ltd. Adventure is the business we know best.
                </p>
                <h4>Background:</h4>
                <p>Discover Himalayan Treks (P) Ltd’s Managing Director and owner of the company, Mr. Prem K. Dangol has, since 1982, planned and organized tours and led Treks and expeditions in Nepal and Tibet. His 15 years experience has stood him in good stead and with his team of 10 staff has provided excellent professional service to their clients.</p>
                <h4>Mission:</h4>
                <p>Discover Himalayan Trek’s mission is to provide value and Professional, Quality service to our customers. It is a partnership of friendship and discoveries.</p>
                <h4>Quality Service:</h4>
                <p>Discover Himalayan Treks has a proven record of operating top quality adventure holidays based on first hand experience. We listen to our customers’ needs and satisfaction. We monitor every aspect of our service in our constant effort to improve in order to provide you with an unforgettable experiencing classic Nepal.</p>
                <h4>Realize your dreams:</h4>
                <p>Discover Himalayan Treks can specially design tours, treks and expeditions to realize your dreams and needs. Alternatively you can choose from the already proven and accepted tours, treks and expeditions we organize. We feel that you should be given the right information to make your choice for the right company. Our detailed trip notes and regional portfolios are supplemented by numerous free official publications. Call or write us for details.</p>
                <h4>Expertise:</h4>
                <p>Discover Himalayan Treks (p) Ltd. has very experienced leaders and guides who are selected for their competence, friendliness, honesty, and intelligence. <br> The guides are local residents who know the territory intimately, speak the local languages, and have undergone training in the country’s natural history. <br> The leaders and guides spends their working life in the mountains of the world, This combined with their professional approach, exceptional talent, responsibility, patience, attention, enthusiasm and experience, can assure you of an unforgettable experience that results in lasting cross-culture friendship and wonderful memories.</p>
            </div>
        </article>
      


        <aside class="col-lg-3">
            <div id="sidebar" class="sticky-top sidebar">
                <div id="accordion" role="tablist">
                    <div class="card">
                      <div class="card-header bg-warning " role="tab" id="headingOne">
                        <h6 class="mb-0">
                          <a data-toggle="collapse" class="text-light" style="text-decoration:none" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Trekking region in Nepal
                          </a>
                        </h6>
                      </div>
                      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" >
                        <div class="card" style="width: auto;">
                        
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " > > Annapurna Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Dolpo Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Everest Khumbu Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Kanchenjunga Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Langtang Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Mustang Region</a></li>
                              <li class="list-group-item "><a href="" rel="bookmark" style="text-decoration:none; " class="text-dark " >Pokhara Region</a></li>
                            </ul>
                        </div>
                      </div>
                  
            </div>
            <div class="card mt-2">
              <div class="card-header  bg-primary" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed text-light" style="text-decoration:none" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="#collapseTwo">Peak Climbing in Nepal</a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style>
              <div class="card" style="width: auto;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <a href="https://www.discovertreks.com/island-peak/" title="Island" style="text-decoration:none; " class="text-dark " >Island Peak</a>
                  </li>
                  <li class="list-group-item">
                    <a href="https://en.wikipedia.org/wiki/Mera_Peak" title="Island" style="text-decoration:none; " class="text-dark " >Mera Peak</a>
                  </li>
                </ul>
            
            </div>

              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header  bg-primary" role="tab" id="headingThree">
                <h5 class="mb-0">
                  <a class="collapsed text-light" style="text-decoration:none" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="#collapseThree">Expedition in Nepal</a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header  bg-primary" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed text-light" style="text-decoration:none" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="#collapseFour">Adventure Activities</a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header  bg-primary" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed text-light" style="text-decoration:none" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="#collapseFive">Sight Seeing Tour in Nepal</a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style>
              </div>
            </div>
            <div class="card mt-2">
              <div class="card-header  bg-primary" role="tab" id="headingTwo">
                <h5 class="mb-0">
                  <a class="collapsed text-light" style="text-decoration:none" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="#collapseSix">Bhutan Tour</a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style>
              </div>
            </div>

            
        </div>

            </div>
        </aside>
        
    </div>
</section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>